<nav class="locations country-list">
    <a class="country-link" href="/countries/andorra">Andorra</a>
    <a class="country-link" href="/countries/austria">Austria</a>
    <a class="country-link" href="/countries/belgium">Belgium</a>
    <a class="country-link" href="/countries/bosnia">Bosnia &amp; Hertz</a>
    <a class="country-link" href="/countries/bulgaria">Bulgaria</a>
    <a class="country-link" href="/countries/croatia">Croatia</a>
    <a class="country-link" href="/countries/cyprus">Cyprus</a>
    <a class="country-link" href="/countries/czechia">Czechia</a>
    <a class="country-link" href="/countries/denmark">Denmark</a>
    <a class="country-link" href="/countries/estonia">Estonia</a>
    <a class="country-link" href="/countries/finland">Finland</a>
    <a class="country-link" href="/countries/france">France</a>
    <a class="country-link" href="/countries/germany">Germany</a>
    <a class="country-link" href="/countries/greece">Greece</a>
    <a class="country-link" href="/countries/holy-see">Holy See</a>
    <a class="country-link" href="/countries/hungary">Hungary</a>
    <a class="country-link" href="/countries/iceland">Iceland</a>
    <a class="country-link" href="/countries/ireland">Ireland</a>
    <a class="country-link" href="/countries/italy">Italy</a>
    <a class="country-link" href="/countries/liechtenstein">Liechtenstein</a>
    <a class="country-link" href="/countries/lithuania">Lithuania</a>
    <a class="country-link" href="/countries/luxembourg">Luxembourg</a>
    <a class="country-link" href="/countries/malta">Malta</a>
    <a class="country-link" href="/countries/moldova">Moldova</a>
    <a class="country-link" href="/countries/monaco">Monaco</a>
    <a class="country-link" href="/countries/montenegro">Montenegro</a>
    <a class="country-link" href="/countries/netherlands">Netherlands</a>
    <a class="country-link" href="/countries/norway">Norway</a>
    <a class="country-link" href="/countries/poland">Poland</a>
    <a class="country-link" href="/countries/portugal">Portugal</a>
    <a class="country-link" href="/countries/romania">Romania</a>
    <a class="country-link" href="/countries/san-marino">S.Marino</a>
    <a class="country-link" href="/countries/serbia">Serbia</a>
    <a class="country-link" href="/countries/slovakia">Slovakia</a>
    <a class="country-link" href="/countries/slovenia">Slovenia</a>
    <a class="country-link" href="/countries/spain">Spain</a>
    <a class="country-link" href="/countries/sweden">Sweden</a>
    <a class="country-link" href="/countries/switzerland">Switzerland</a>
    <a class="country-link" href="/countries/turkey">Turkey</a>
    <a class="country-link" href="/countries/uk">UK</a>
    <h1></h1>
    <button class="close-country-dropdown country-dropdown-btn">Close</button>
    
</nav>