<nav class="footer-nav">
    {{/*  <a class="footer-link" href="/andorra">Andorra</a>  */}}
    <a class="footer-link" href="/austria">Austria</a>
    <a class="footer-link" href="/belgium">Belgium</a>
    {{/*  <a class="footer-link" href="/bosnia">Bosnia &amp; Hertz</a>  */}}
    {{/*  <a class="footer-link" href="/bulgaria">Bulgaria</a>  */}}
    <a class="footer-link" href="/croatia">Croatia</a>
    <a class="footer-link" href="/cyprus">Cyprus</a>
    <a class="footer-link" href="/czechia">Czechia</a>
    <a class="footer-link" href="/denmark">Denmark</a>
    {{/*  <a class="footer-link" href="/estonia">Estonia</a>  */}}
    <a class="footer-link" href="/finland">Finland</a>
    <a class="footer-link" href="/france">France</a>
    <a class="footer-link" href="/germany">Germany</a>
    <a class="footer-link" href="/greece">Greece</a>
    {{/*  <a class="footer-link" href="/holy-see">Holy See</a>  */}}
    {{/*  <a class="footer-link" href="/hungary">Hungary</a>  */}}
    {{/*  <a class="footer-link" href="/iceland">Iceland</a>  */}}
    <a class="footer-link" href="/ireland">Ireland</a>
    <a class="footer-link" href="/italy">Italy</a>
    {{/*  <a class="footer-link" href="/liechtenstein">Liechtenstein</a>  */}}
    {{/*  <a class="footer-link" href="/lithuania">Lithuania</a>  */}}
    {{/*  <a class="footer-link" href="/luxembourg">Luxembourg</a>  */}}
    {{/*  <a class="footer-link" href="/malta">Malta</a>  */}}
    {{/*  <a class="footer-link" href="/moldova">Moldova</a>  */}}
    {{/*  <a class="footer-link" href="/monaco">Monaco</a>  */}}
    {{/*  <a class="footer-link" href="/montenegro">Montenegro</a>  */}}
    <a class="footer-link" href="/netherlands">Netherlands</a>
    <a class="footer-link" href="/norway">Norway</a>
    <a class="footer-link" href="/poland">Poland</a>
    <a class="footer-link" href="/portugal">Portugal</a>
    {{/*  <a class="footer-link" href="/romania">Romania</a>  */}}
    {{/*  <a class="footer-link" href="/san-marino">S.Marino</a>  */}}
    {{/*  <a class="footer-link" href="/serbia">Serbia</a>  */}}
    {{/*  <a class="footer-link" href="/slovakia">Slovakia</a>  */}}
    {{/*  <a class="footer-link" href="/slovenia">Slovenia</a>  */}}
    <a class="footer-link" href="/spain">Spain</a>
    {{/*  <a class="footer-link" href="/sweden">Sweden</a>  */}}
    <a class="footer-link" href="/switzerland">Switzerland</a>
    <a class="footer-link" href="/turkey">Turkey</a>
    <a class="footer-link" href="/uk">UK</a>
</nav>