<footer>

    <div class="footer-grid">

        <div class="footer-item" id="bottom-marker">
            {{partial "contact_form" . }}
        </div>
        <div class="footer-item map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22342661.114297125!2d5.212519637025884!3d46.875658458456726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ed8886cfadda85%3A0x72ef99e6b3fcf079!2sEurope!5e0!3m2!1sen!2suk!4v1738836239876!5m2!1sen!2suk" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" 
            title="Map of Europe" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        {{partial "footer-nav" . }}
        
    </div>
    <a href="#top-marker" class="to-top">Back to Top</a>
    <div class="footer-item foot">
        
            <a href="/about">About eugo</a>
            |
            <a href="/privacy">Privacy</a>
        
    </div>
    <p class="foot-p">&copy; {{ now.Year }}. All rights reserved eugo</p>
        
   
</footer>

