
<header class="site-header">

    <div class="banner">
        {{/*  {{partial "country-dropdown" .}}  */}}
        {{partial "topnav" .}}
        <div class="banner-items">
            {{/*  <h1 class="banner-item"> {{.Title}}</h1>
            <img class="banner-item" src="{{.Params.image}}" alt="{{.Params.alt_txt}}">  */}}
            {{/*  <p class="header-p banner-item">{{.Params.description}}</p>  */}}
            <p class="brand">eugo.uk</p>
            <div class="header-wrap">
                <span class="intro-span">Helping you</span>
                <br/>
                <span class="site-heading">Discover {{ .Params.tab  }}    </span>
            </div>

            <button class="open-country-dropdown banner-item">View All Countries </button>
        </div>
        
    </div>
    
{{/*  <span>&#187;</span>  */}}


