<nav class="topnav country-dropdown country-list" id="topnav">
    {{ range where .Data.Pages "Type" "countries"   }}
      <a href="{{ .RelPermalink }}" class="country-link ">{{ .Params.tab }}</a>
    {{ end }}


    {{ range where .Data.Pages "Type" "cities"   }}
    <a href="{{ .RelPermalink }}" class="country-link ">{{ .Params.tab }}</a>
  {{ end }}

  {{/*  open this when accoms added  */}}
  
  {{/*  {{ range where .Data.Pages "Type" "accoms"   }}
  <a href="{{ .RelPermalink }}" class="country-link ">{{ .Params.tab }}</a>
{{ end }}  */}}
    <button class="close-country-dropdown country-dropdown-btn">Close</button>

   </nav>