.breadcrumb-navwrap
  //border 5px solid blue
  margin-top 48px
  //padding 30px
  nav.breadcrumb-nav
      //border 1px solid red
      display: flex
      flex-wrap: wrap
      gap 10px
      justify-content: center
      height 40px
      margin auto
      padding: 0
      position relative
      width fit-content


      a.breadcrumb-link
          background beta //#f5f5f5
          //border 1px solid blue
          color: light
          height: 100%
          max-height 52px //fit-content //20px
          padding: 12px 12px 0px
          position: relative
          text-decoration: none

        &:hover
          text-decoration: underline
.breadcumb-end
  background rgba(beta, .4)
  color rgba(light, .6)
  padding 8px