// nav.city-nav
//     //border 1px solid red
//     display flex
//     gap 16px
//     margin auto
//     width fit-content
.city-nav, #city-nav 
    //color pink
    //background alpha
    display flex
    gap 12px
    justify-content center
    margin 20px auto 10px
    //padding 8px 20px
    //height 40px
    position relative
    width fit-content


    a.city-nav-link
        border 1px solid rgba(light, .2)
        border-radius 4px
        color light
        font-size 1.2rem
        padding 8px 16px
        margin auto
        position relative
        width fit-content
        z-index 20
span.city-nav-title  
    display block
    //border 1px solid light
    color light
    font-size 1.2rem
    line-height 1
    margin 40px auto 0
    padding 0
    width fit-content