form.contact-form
    background light
    display flex 
    flex-direction column
    //height 0
    overflow hidden
    //position absolute

    margin 0 auto
    //margin-top - 500px
    //max-width 400px
    padding 16px 
    //position relative
    z-index 2
    
    //transform scale(0)
    width 100%
    .form-group 
        min-height 100px
        width 100%
    textarea 
        min-height 200px
    input, textarea 
        background alpha + (80%)
        border 0 
        font-size 1.2rem
        outline none
        padding 16px
        width 100%
    label 
        display block
        color alpha - (80%)
        font-size 1.2rem
        margin 16px 0 8px
